<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="BrightstarDB.ConnectionString" value="type=rest;endpoint=http://localhost:8090/brightstar;storename=BSD_Test7_1" />
  </appSettings>
</configuration>